<h1>Passenger Details:</h1>
<h3>Passenger ID: <%= @passenger.id %></h3>
<h3>Passenger Name: <%= @passenger.name %></h3>
<h3>Passenger Phone Number: <%= @passenger.phone_num %></h3>

<ul>
<li><%= link_to "All Passengers", passengers_path %></li>

</ul>
