<h2>Passenger Details:</h2>

<p>Passenger Name: <%= @passenger.name %></p>
<p>Passenger ID: <%= @passenger.id %></p>
<p>Passenger Phone Number: <%= @passenger.phone_num %></p>
<p>Total Charges:<p>
<p>All Trips:</p>


<span><%= link_to "All Passengers", passengers_path %></span>
